<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="jacky.song" android:versionCode="1" android:versionName="1.0">

  <uses-sdk android:minSdkVersion="8" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>

  <application android:icon="@drawable/icon" android:label="@string/app_name"
    android:name=".demo.DemoApp">
    <activity android:name=".demo.pagea.PageA"
      android:launchMode="singleTask" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".demo.pageb.PageB" android:theme="@style/Transparent"
      android:label="@string/page2_name">
    </activity>

    <service android:name=".RefreshActivityAsyncService"></service>

  </application>
</manifest>